.berita {
  background: $mildwhite;
  padding: 80px 0;
  h2 {
    color: $blue;
    margin-bottom: 45px;
  }
  .berita-highlight {
    margin-left: -15px;
    margin-right: -15px;
    .thumbnail {
      background: transparent;
      padding: 0;
      a {
        color: $black;
        p {
          letter-spacing: 0;
          text-align: left;
        }
      }
    }
  }
  .pattern-line {
    background: $blue;
    padding: 1px 20px;
    a {
      color: $white;
    }
    .pattern {
      border-top-color: $blue;
      right: calc(100% - 1px);
      &:before {
        background: $blue;
      }
      &:after {
        background: $mildblue;
      }
    }
  }
}

.feeds-berita {
  background: rgba(231, 231, 231, 0.4);
  padding: 100px 0;
  .feeds-berita__column {
    background: $white;
    .feeds-berita__header {
      padding: 15px;
      margin-bottom: 20px;
      background: $blue;

      h4 {
        color: white;
        text-align: left;
      }
    }
    .feeds-berita__body {
      padding: 10px;

      .media {
        &:hover {
          @include pulse(
            $duration: 0.8s
          );
          background: $gray;
        }
        // border-bottom: 1px solid $mildwhite;
        // padding-top: 15px;
        // padding-bottom: 15px;
        margin-top: 0;
        margin-bottom: 15px;

        .media-left {
          width: 45%;
        }
        .media-body {
          vertical-align: middle;
          a {
            color: $darkgray;
          }
          .media-heading {
            text-transform: capitalize;
            line-height: 23px;
            text-align: left;
            letter-spacing: 0;
          }
        }
      }
      .feeds-berita__button {
        margin-top: 15px;
        position: relative;
        a {
          color: $blue;
          text-transform: uppercase;
          font-size: 18px;
          span {
            &:hover {
              // @include flash();
              &:after {
                @include fadeInLeft(
                  $count: infinite
                );
              }
            }

            &:after {
              content: "\f105";
              font-family: fontawesome;
              font-size: 30px;
              position: absolute;
              top: 0;
              left: calc(100% - 100px);
              line-height: 25px;
            }
          }
        }
      }
    }
  }
}
