.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background: $basewhite;
  .sponsor {
    background: $blue; // height: 650px;
    padding-bottom: 60px;
    color: $white;
    text-align: center;
    h2 {
      margin: 50px 0;
      font-size: 34px;
    }
    .sponsor-images {
      // display: flex;
      // justify-content: space-around;
      // flex-direction: column;
      .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
        @media(min-width: 768px){
          &>div:nth-of-type(-n+3) {
            width: 33.33%;
            .responsive {
              padding: 0 5%;
            }
          }
          &>div:nth-of-type(n+4):nth-of-type(-n+8){
            width: 20%;
            .responsive {
              padding: 0 5%;
            }
          }
          &>div:nth-of-type(n+9):nth-of-type(-n+15) {
            width: 16%;
            .responsive {
              padding: 0 5%;
            }
          }
        }
        .responsive {
          .primary-image {
            display: block;
          }
          .accent-image {
            display: none;
          }
          &:hover {
            @include pulse();
            .primary-image {
              display: none;
            }
            .accent-image {
              display: block;
            }
          }
          width: auto;
          padding: 10%;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          a {
            position: relative;
            height: 90px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-bottom: 0;
          }
        }
        .potrait {
          width: 100px;
          height: auto;
          a {
            img {
              height: 100%;
              width: auto;
              top: 0;
            }
          }
        }
      }
    }
  }
  .footer-link {
    margin: 5px 0;
    ul {
      margin-bottom: 0;
    }
  }
  ul {
    li {
      display: inline-block;
      position: relative;
      padding: 10px;
      &:after {
        height: 10px;
        content: "";
        height: 15px;
        background: $grayicon;
        width: 2px;
        position: absolute;
        left: 100%;
        top: 15px;
      }
      &:last-child:after {
        background: none;
      }
      a {
        color: $grayicon;
      }
    }
  }
}


@media screen and (-webkit-min-device-pixel-ratio:0){
  ::i-block-chrome, .footer .sponsor .sponsor-images .row:before {
    display: block;
  }
}
