.header {
  background: $blue;
  position: fixed;
  z-index: 30;
  width: 100%;
  .header-wrapper {
    position: relative;
    height: 170px;
    transition: all .7s ease;
    @media(max-width: 1199px){
      height: auto;
    }
  }
  .upper-bar {
    background: $blue;
    height: 58px;
    position: absolute;
    width: 100%;
    top: 0;
    border-bottom: 1px solid rgba(255,255,255, .5);
    .fa {
      color: $white;
    }
    .icon {
      text-align: right;
    }
    a {
      .fa {
        margin: 15px 14px 15px;
        @media(min-width: 768px) and (max-width: 1024px) {
          margin: 15px 12px 15px;
        }
      }
    }
    .container {
      display: flex;
      flex-direction: row;
      .search-bar {
        height: 57px;
        form {
          height: 100%;
        }
        input {
          color: $white;
          height: 100%;
          width: 100%;
          background: rgba(0,0,0,.3);
          border-style: none;
          padding: 10px;
          &:focus, &:active {
            outline: 0;
          }
        }
        button {
          position: absolute;
          right: 15px;
          top: 0;
          background: transparent;
          border: 0;
          &:focus {
            outline: 0;
          }
        }
        .fa-search {

        }
      }
      .internationale {
        span {
          display: inline-block;
        }
      }
    }
  }
  .dropdown {
    button {
      border: 0;
      background: #edeff4;
      padding: 3px 10px;
    }
    .flag img {
      width: 20px;
      margin-right: 5px;
    }
  }
}

.upper-bar .container {
}
.logo {
  width: 110px;
  transition: all .7s ease;
  padding: 10px;
  a {
    width: 100% !important;
    // height: 158px;
    // padding-bottom: 100% !important;
    position: relative !important;
    display: block;
    z-index: 1;
  }
  img {
    position: absolute;
    width: 100%;
    height: auto;
    display: block;
  }
}

/* header */
.header {
  @media only screen and (min-width: 1024px){
    .navbar-nav {
      li {
        &.menu-icon {
          visibility: hidden;
          opacity: 0;
          display: inline-block;
          transition: all .7s ease;
          max-width: 0;
        }
      }
    }
  }

  &.reduced {
    .header-wrapper {
      height: 61px;
      transition: all .7s ease;
    }
    .logo {
      width: 50px;
      transition: all .7s ease;
    }
    @media only screen and (min-width: 1024px){
      .navbar-nav {
        li {
          height: 60px;
          transition: all .7s ease;
          &.menu-icon {
            max-width: 60px;
            opacity: 1;
            pointer-events: auto;
            visibility: visible;
            transition: all .7s ease;
            .fa {
              margin: 0;
              color: $white;
            }
          }
        }
      }
    }

    .upper-bar {
      height: 0;
      opacity: 0;
      transition: all .7s ease;
      .icon, .search-bar, .internationale {
        height: 0;
        opacity: 0;
        transition: all .7s ease;
      }
    }
  }
}

/* submenu */
.score {
  &-home, &-away, &-result {
    text-align: center;
    font-family: "futura_md_btbold";
    img {
      width: auto;
      height: 50px;
      margin: 0 20px;
    }
    span {
      display: block;
      text-transform: uppercase;
      margin-top: 10px;
    }
  }
  &-result {
    p {
      font-size: 20px;
    }
    a {
      background: $blue;
      color: $white;
      padding: 5px 10px;
      font-size: 14px!important;
    }
  }
}


/* mobile menu */
.header {
  .mobico {
    vertical-align: middle;
    background: transparent;
    color: $white;
    font-size: 20px;
    display: inline-block;
    margin: 15px;
    &:before {
      font-family: 'FontAwesome';
      content: "\f0c9";
    }
  }
}
.mobilemenu {
  .logo {
    width: 50px;
    margin: 0 auto;
    padding: 8px;
    img {
      position: static;
    }
  }
  .mobuser {
    position: absolute;
    top: 7px;
    right: 10px;
    .fa {
      margin: 15px;
      color: $white;
    }
  }
}
#mobinav {
  .mobinav-inner {
    width: auto;
    background: $white;
    height: 100%;
    margin-right: 70px;
    color: #000;

    &.default {
      .monav {
        background: $white;
        a {
          i {
            position: relative;
            color: #000;
          }
        }
        .line-top {
          margin-top: 10px;
          padding-top: 10px;
          border-top: 1px solid $stlightgrey;
        }
        .line-bottom {
          margin-bottom: 10px;
          border-bottom: 1px solid $stlightgrey;
        }
      }
    }
  }
}
.intro-form, .intro-link {
  background: $blue;
  padding: 5px 15px;
  text-align: center;
  position: relative;
  form {
    position: relative;
    input {
      color: $white;
      height: 100%;
      width: 100%;
      background: $blue;
      border-style: none;
      padding: 10px;
      &:focus, &:active {
        outline: 0;
      }
    }
    button {
      position: absolute;
      right: 15px;
      top: 0;
      background: transparent;
      border: 0;
    }
  }
  span {
    text-transform: uppercase;
    display: block;
    margin: 5px;
    &.fa {
      color: $yellowmild;
    }
  }
}
.intro-link {
  border-top: 1px solid $yellowmild;
  padding: 15px 10px;
  a {
    float: left;
    color: $yellowmild;
    line-height: normal;
    width: 50%;
    text-align: center;
    i {
      color: $yellowmild;
      margin: 0 15px 0 0;
    }
  }
  .dropdown {
    float: left;
    button {
      padding: 0;
      span {
        display: inline-block;
      }
    }
    .dropdown-menu {
      right: 0;
      left: auto;
      min-width: 93px;
    }
    &.open {
      color: red;
      > .btn-default {
        &.dropdown-toggle {
          background: $yellowmild;
          border: 0;
        }
      }
    }
  }
}
.intro-link--store {
  a {
    width: 33.33%;
  }
}
.mobmenu {
  @media(min-width: 1200px){
    display: none;
  }

  position: absolute;
  top: 6px;
  left: 10px;
  line-height: 20px;

  .user-form {
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    i {
      font-size: 26px;
      color: $base;
    }
  }
}
.sidenav {
  @media(max-width: 1199px){
    display: block;
  }

  background: rgba(0,0,0, .7);
  height: 100%;
  overflow-x: hidden;
  left: 0;
  top: 0;
  transition: 0.5s;
  position: fixed;
  width: 0;
  z-index: 111;

  a {
    display: block;
    font-size: 12px;
    padding: 0px 8px 0px 0px;
    text-decoration: none;
    transition: 0.3s;
    line-height: 38px;

    @media(max-width: 767px){
      line-height: 38px;
    }
  }

  .closebtn {
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 10px;
    color: $white!important;
  }

  .monav {
    li {
      border-bottom: 1px solid $white;
      display: block;
      position: relative;
      &:first-child {
        margin-top: 10px;
      }
      a {
        color: $darkgray;
      }

      .sub-menu {
        max-height: 0;
        overflow: hidden;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
      }
      &.shrink {
        > .sub-menu {
          max-height: 200em;
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
          a {
            padding-left: 0;
          }
        }
      }
      i {
        -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 0 15px 0 0;
        line-height: 38px;
        color: #000;
        cursor: pointer;
        height: 38px;
        margin: 10px;
      }
    }
  }
}
