.hero {
  background-image: url("../img/HeroImage@2x.png");
  height: 800px;
  background-size: cover;
  text-align: center;
  margin-top: 170px;
  @media(max-width: 1199px){
    margin-top: 61px;
  }
  h1 {
    color: $white;
    text-align: center;
    @media(min-width: 768px){
      margin-bottom: 70px;
    }
  }
  button {
    @include custom-button;
    a {
      span {
        transform: skewX(-15deg);
      }
    }
  }
  @media(max-width: 1024px){
    margin-top: 65px;
  }
}

.hero-content {
  margin-top: 350px;
}

.hero--home {
  background-image: none;
  position: relative;
  overflow: hidden;
  height: 800px;
  padding-top: 0px;

  @media(min-width: 2560px){
    height: 100vh;
  }
  .hero-content {
    margin-top: 0px;
  }
  .item-slider {
    position: relative;
    img {
      width: 100%;
      object-fit: cover;
      margin: 0 auto;
    }
    .hero-text {
      h2, h1 {
        color: #fff;
      }
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      @media(min-width: 2560px){
        bottom: 250px;
      }
    }
    .container {
      position: relative;

    }
  }
}
