.inner-banner {
  position: relative;
  margin-top: 170px;
  @media(max-width: 1199px){
    margin-top: 61px;
  }
  .inner-banner__image {
    height: 336px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .inner-banner__title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: $white;
    font-size: 50px;
    height: 50px;
    &:after {
      content: "-";
    }
    &:before {
      content: "-";
    }
  }
}

.inner-banner--match {
  .dynamic-banner {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    &>div {
      // display: flex;
      // align-content: center;
      // flex-wrap: wrap;
      // height: 100%;
    }
    span {
      color: $white;
      width: 100%;
      display: block;
    }
    .dynamic-logo {
      // display: flex;
      // align-items: center;
      &>div {
        display: inline-block;
        float: left;
        width: 50%;
        text-align: center;
        img {
          width: auto;
          height: 120px;
        }
      }
      .home {
        position: absolute;
        left: 30px;
        z-index: 20;
      }
      .away {
        right: 20px;
        position: absolute;
      }
    }
    .dynamic-text {
      display: flex;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 700;
    }
    .dynamic-day {
      display: flex;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      font-size: 22px;
      line-height: 53px;
      text-transform: capitalize;
    }
  } // background: red;
  .inner-banner__title {
    right: auto;
    left: 15px;
    position: relative;
    margin-top: 20px;
    &:before,
    &:after {
      content: "";
    } // position: relative;
  }

  .inner-banner__image {
    height: 336px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}


.inner-banner--match__rev {
  background: $lightblue;
  height: 500px;
  .dynamic-banner--rev {
    display: block;
    margin: 60px 0;
    width: 100%;
    @media(max-width: 767px){
      // margin-top: -470px;
      margin-bottom: 0;
    }
  }
}
