.inner-page {
  background: $mildwhite;
  padding-bottom: 50px;
}

.inner-page--space {
  padding-top: 190px;
  @media(max-width: 1199px){
    padding-top: 61px;
  }
  .title-widget {
    display: none;
  }
}

.inner-page--user {
  background: $basewhite;
}

.inner-page--rev,
.inner-page--revision {
  background: $white;
}


/* search result */
.inner-page--space__result {
  .result-keyword {
    margin-bottom: 0;
    font-size: 16px;
    i {
      color: $white;
    }
  }

  .pattern-line {
    .pattern {
      border-top: 53px solid $blue;
      &:before, &:after {
        height: 53px;
      }
    }
  }
}

.card--detail__result {
  .wrapper {
    position: relative;
    .result-category {
      background: $yellowmild;
      color: $white;
      text-transform: uppercase;
      position: absolute;
      top: 20px;
      left: 20px;
      width: auto;
      padding: 5px 15px;
      text-align: center;
      letter-spacing: 2px;
      border-radius: 3px;
      z-index: 1;
      a {
        color: $white;
      }
    }
  }
  .responsive {
    a {
      padding-bottom: 67%;
    }
  }
}

/* sticky banner */
.match-banner {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 101;
  max-width: 400px;
  @media(min-width: 768px){
    width: 100%;
  }
  .close {
    background: $mildblue;
    opacity: 1;
    color: $white;
    padding: 5px;
    text-shadow: none;
    letter-spacing: 0;
    line-height: 1;
    margin-right: 10px;
    font-size: 16px;
  }
  @media(max-width: 767px){
    left: 15px;
    right: 15px;
  }
  a {
    background: $basewhite;
    display: inline-block;
    width: 100%;
    clear: both;
    content: "";
    border-radius: 10px;
    border: 2px solid $stgrey;
  }
  p {
    font-size: 12px;
    text-align: center;
    margin-bottom: 0;
  }

  .match-info {
    float: left;
    width: 33.33%;
    letter-spacing: 1px;
    background: $blue;
    transform: skewX(-10deg);
    padding: 32px 0;
    p {
      transform: skewX(10deg);
      color: $white;
      font-size: 11px;
    }
  }
  .banner-club {
    float: left;
    width: 33.33%;
    text-align: center;
    padding: 0px;
    p {
      word-break: inherit;
      width: 100px;
      margin: 15px auto 0;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $darkgray;
    }
    img {
      width: auto;
      margin: 10px auto;
      height: 70px;
      display: block;
    }
  }
}

/* static page */
.staticpage {
  background: $white;
  padding: 35px 15px;
}

.staticpage--compact {
  overflow: hidden;
}
.staticpage__inner {
  h3 {
    padding: 0 0 40px;
    margin: 0;
  }
  button {
    margin-top: 15px;
  }
}
.staticpage__inner--static,
.staticpage__inner--register {
  padding-top: 60px;
}

.staticpage__inner--register {
  float: none;

  #member {
    .indetail {
      .contact-form {
        width: 66%;
        margin: 35px auto;
      }
    }
    .contact-form {
      width: 100%;
    }
  }
  .tabtitle {
    font-size: 16px;
    font-weight: 600;
  }
  .bluetext {
    display: block;
    font-size: 26px;
    font-weight: 600;
    color: $blue;
  }
  .tab-detail {
    border-top: 1px solid $mildwhite;
    border-bottom: 1px solid $mildwhite;
    padding: 10px 0;
    margin: 10px 0;
    h4 {
      text-align: left;
    }
  }
  .nav-tabs {
    margin: 0 auto 35px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    width: 66%;
    float: none;
    li {
      width: 100%;
      border: 1px solid $mildwhite;
      display: list-item;
      padding: 5px 20px;
      font-size: 0;
      a {
        background-color: transparent;
        color: #999;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 18px;
        border: 0;
        text-align: center;
      }
      &.active {
        background: $blue;
        border: 1px solid $blue;
        a {
          color: $white;
          background: transparent;
          border: 0;
        }
      }
      &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-left: 0;
      }
    }
  }
  .nav-tabs--second {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 35px;
    li {
      width: 100%;
      border-bottom: 2px solid $mildwhite;
      display: list-item;
      font-size: 0;
      a {
        text-align: center;
        font-size: 14px!important;
        font-weight: normal!important;
        text-transform: capitalize!important;
        &:after {
          display: none;
        }
      }
      &.active {
        background: transparent;
        border-bottom: 2px solid $blue;
        a {
          color: $blue!important;
        }
      }
    }
    > li {
      + li {
        margin-left: 0;
      }
    }
  }
  .contact-form {
    width: 66%;
    margin: 35px auto;
  }
}



/* form login */
.nav-pills--login {
  display: flex;
  justify-content: center;
  width: 100%;
  li {
    width: 100%;
    border: 1px solid gray;
    display: list-item;
    padding: 5px 20px;
    font-size: 0;
    &:first-child{
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &:last-child{
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      margin-left: 0;
    }
    a {
      text-align: center;
      &:after {
        display: none;
      }
    }
    &.active {
      background: $blue;
      border: 1px solid $blue;
      a {
        color: $white!important;
      }
    }
  }

  &.secondtab {
    padding: 0;
  }
}
.form-link {
  margin-top: 30px;
}
