.main {

}

.inner-page--rev {
    .pills-web {
        margin-top: 35px;
        padding-bottom: 35px;
        border-bottom: 1px solid $grayicon;
        li {
            a {
              font-weight: normal;
              padding: 0 10px 0 0;
              letter-spacing: 1px;
              font-size: 16px;
              &:after {
                margin-left: 10px;
              }
            }
        }
    }

    .article--extended__rev {
        margin-top: 0;
        .article__header {
            span {
                letter-spacing: 0;
            }
        }
    }

    .box-report {
        ul {
            padding-left: 0;
            li {
                margin-bottom: 20px;
                list-style: none;
                span {
                    letter-spacing: 1px;
                    &.time {
                        margin-right: 30px;
                    }
                }
            }
        }
    }

    .box-section {
        h3 {
            font-size: 30px;
            margin: 34px 0;
        }
        .home {
            h3 {
                text-align: left;
            }
        }
        .away {
            h3 {
                text-align: right;
            }
        }

    }
}

.inner-banner--match__rev {
    .inner-banner__image {
        height: 500px;
        background: $lightblue;
    }
    .dynamic-banner--rev {
        .jadwal-klub {
            span {
                font-size: 30px;
                display: inline-block;
                width: auto;
                text-transform: uppercase;
                line-height: 100px;
                vertical-align: middle;
                letter-spacing: 1px;
            }
            .home {
                text-align: right;
            }
            .score {
                td {
                    font-size: 24px;
                    color: $white;
                    padding: 0;
                }
            }
            .away {
                text-align: left;
            }
            img {
                width: auto;
                height: 100px;
                margin: 0 20px;
                @media(max-width: 767px){
                  height: 60px;
                }
            }
            .club {
                line-height: 100px;
            }
        }
        .match-info {
            margin: 30px 0;
            text-align: center;
            span {
                font-size: 16px;
                font-weight: normal;
                letter-spacing: 1px;
                &:first-child {
                  font-size: 18px;
                }
                @media(max-width: 767px){
                  font-size: 12px;
                }
            }
        }
        .player-info {
            color: $white;
            p {
                margin-bottom: 0;
            }
            .player-left {
                text-align: right;
                p {
                    padding-right: 20px;
                }
            }
            .player-right {
                text-align: left;
                p {
                    padding-left: 20px;
                }
            }
            @media(max-width: 767px){
              .player-left {
                p {
                  padding-right: 0;
                }
              }
              .player-right {
                p {
                  padding-left: 0;
                }
              }
            }
        }
    }
}

.box-structure {
    .content-info {
        padding: 0 50px;
        letter-spacing: 0;
        ul {
            padding-left: 0;
            li {
                list-style: none;
                margin-bottom: 10px;
            }
        }
    }
}


/* popup match */
.match-content {
  display: none;
}
.match-popup {
  .match-date {
    margin-bottom: 10px;
    text-align: center;
    font-size: 12px;
  }
  .jadwal-klub {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $gray;
    .club {
      background: $yellow;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
}

.featherlight {
  &.match-popup {
    .featherlight-content {
      padding: 0;
      border-bottom: 0;
      .match-content {
        display: block;
      }
    }
  }
}

.medianav-box {
  .wrapper {
    position: relative;
    .responsive {
      span {
        padding-bottom: 100%;
        display: block;
        img {
          position: absolute;
          width: auto;
          height: 100%;
          display: block;
          margin: 0 auto;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
          object-fit: cover;
        }
      }
    }
  }
}

.img-resolution {
  a {
    padding: 25px 45px;
    font-size: 18px;
    background: $stlightgrey;
    color: $grey;
    display: inline-block;
    margin-right: 10px;
    &:hover {
      color: $blue;
    }
  }
}

/* caption image */
.caption-image {
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  .caption-inner {
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1130px;
    left: 0;
    display: block;
    padding: 0 30px 0 15px;

    p {
      padding: 10px;
      font-size: 12px;
      display: inline-block;
      width: auto;
      position: relative;
      background: $base;
      &:after {
        border-top-color: #08349b;
        right: calc(100% - 0px);
        position: absolute;
      }
    }
  }
}

/* streaming radio */
.streaming-radio {
  button {
    -webkit-appearance: none;
  }
  .jp-title {
    font-size: 20px;
    margin: 20px 0;
    font-weight: 600;
    @media(max-width: 1023px){
      font-size: 16px;
      width: 100%;
      display: inline-block;
    }
  }
  .jp-controls {
    margin-bottom: 20px;
    button {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      background: transparent;
      background-color: $blue;
      border: 0;
      margin: 0 5px;
      i {
        color: $white;
        margin: 0;
      }
      &.jp-stop, &.jp-mute, &.jp-unmute {
        background-color: $grayicon;
      }
      &.jp-play {
        width: 80px;
        height: 80px;
        i {
          font-size: 36px;
          padding-left: 5px;
        }
      }
    }
  }
}
.card--streaming {
  .wrapper {
    border: 20px solid $stgrey;
  }
  .responsive {
    position: relative;
    &:before {
      display: block;
      content: "";
      background: rgba(255,255,255,.3);
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    a {
      padding-bottom: 40%;
    }
    h3 {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      color: #fff;
      font-size: 10em;
      height: 50px;
      z-index: 2;
      text-shadow: 1px 1px 1px black;
      @media(max-width: 1023px){
        font-size: 3.7em;
        line-height: 50px;
      }
    }
  }
}

/* pagination */
.pagination {
  font-size: 14px;
  display: block;
  text-align: center;
  .page,
  .next,
  .last,
  .first,
  .prev {
    background: $white;
    color: $blue;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    &.current, &:hover {
      background: $blue;
      color: $white;
    }
    &:hover {
      a {
        color: $white;
      }
    }
  }
}

.outercom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  p {
    font-size: 28px;
    letter-spacing: 2px;
    margin-top: 40px;
    font-family: "futura_md_btmedium" !important;
    line-height: 32px;
    @media(max-width: 767px){
      font-size: 16px;
      line-height: 28px;
    }
  }
  button {
    background: $blue;
    font-size: 24px;
    text-transform: capitalize;
    padding: 11px 75px;
    border-style: none;
    transform: skewX(15deg);
    margin: 35px 0;
    @media(max-width: 1024px){
      font-size: 16px;
      padding: 5px 30px;
    }
    .before,
    .after {
      position: absolute;
      top: 0;
    }
    .before {
      right: calc(100% + 5px);
      &:before {
        right: calc(100% + 35px);
      }
      &:after {
        right: calc(100% + 5px);
      }
      @media(max-width: 1024px){
        right: calc(100% + 0px);
        &:before {
          right: calc(100% + 30px);
        }
        &:after {
          right: calc(100% + 5px);
        }
      }
    }
    .before,
    .after {
      &:before,
      &:after {
        content: "";
        background: $blue;
        width: 0;
        padding: 30px 10px;
        position: absolute;
        top: 0;
        @media(max-width: 1024px){
          padding: 18px 10px;
        }
      }
      &:before {
        background: $mildblue;
      }
    }
    a {
      color: $white;
      font-family: "futura_md_btmedium" !important;
      span {
        transform: skewX(-15deg);
        display: block;
      }
    }
    .after {
      left: calc(100% + 5px);
      &:before {
        left: calc(100% + 35px);
      }
      &:after {
        left: calc(100% + 5px);
      }
      @media(max-width: 1024px){
        left: calc(100% + 0px);
        &:before {
          left: calc(100% + 30px);
        }
        &:after {
          left: calc(100% + 5px);
        }
      }
    }

  }
}

/* academy */
.bo-list {
  p {
    text-align: left;
    float: left;
    width: 50%;
    margin-bottom: 5px;

    &.bo-title {
      &:after {
        content: ":";
        padding: 0 5px;
        text-align: right;
        float: right;
      }
    }
  }
}
