// pattern line
.pattern-line--blue {
  background: $blue;
  padding: 1px 20px;
  a {
    color: $white;
  }
  .pattern {
    border-top-color: $blue;
    right: calc(100% - 1px);
    &:before {
      background: $blue;
    }
    &:after {
      background: $mildblue;
    }
  }
}

.pattern-line--lefty {
  text-align: left;
  letter-spacing: 0;
  margin: 25px 0;
  a {
    text-transform: uppercase;
  }
}

// social media button
.social-btn {
  width: 100%;
  padding: 20px 15px;
  position: relative;
  font-size: 20px;
  color: $white;
  text-transform: uppercase;
  border-radius: 0;
  border: 0;
  &::before {
    content: "\f105";
    font-family: fontawesome;
    color: $white;
    position: absolute;
    font-size: 45px;
    margin-right: 5px;
    top: 0px;
    bottom: 0;
    left: 30px;
    right: auto;
    margin: auto;
  }
}

.social-btn--facebook {
  background: $blue;
  &::before {
    content: "\f09a";
  }
}

.social-btn--twitter {
  background: #22a8f5;
  &::before {
    content: "\f099";
  }
}

// nav pills tab
.nav-pills.pills-web {
  margin-bottom: 35px;
  li {
    &:last-child {
      a {
        &:after {
          content: "";
        }
      }
    }
    a {
      background-color: transparent;
      color: $grayicon;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 18px;
      @media(max-width: 1023px){
        font-size: 16px;
      }
      &:hover {
        color: $blue;
      }
      &:after {
        content: "/";
        margin-left: 20px;
      }
    }
  }
  .active {
    a {
      color: $blue;
      &:hover,
      &:focus,
      &:active {
        background: transparent;
        color: $blue;
      }
    }
  }
}

.tab-content--table {
  margin-left: 0;
  margin-right: 0;
}

.tab-content--stats {
  margin-top: -15px;
}

// title widget
.title-widget {
  background: $white;
  position: relative;
  padding: 10px 30px;
  display: flex;
  margin-top: -80px;
  margin-bottom: 50px;
  z-index: 20;
  @media(max-width: 1024px){
    margin-top: 0;
  }
  .thumbnail {
    width: 80px;
    display: inline-block;
    border: 0;
  }
  .title-widget__text {
    display: inline-block;
    width: 80%;
    text-align: left;
    align-self: center;
    padding: 0 15px;
    font-size: 30px;
    color: $blue;
  }
}

// card group
@mixin card {
  margin-bottom: 25px;
  &:hover .wrapper {
    // background: $mildblue;
    transition: 0.3s ease-in; // @include shade;
    @include pulse( $duration: 0.8s);
  }
  .wrapper {
    // background: $blue;
  }
  .responsive {
    // height: 200px;
    height: auto;
  }
  .responsive--portrait {
    a {
      img {
        height: 100%;
        width: auto;
        object-fit: cover;
      }
    }
  }
  .content {
    color: $grey;
    padding: 15px;
    background: $white;
    .card-header {
      font-size: 11px;
      margin-bottom: 18px;
      .category {
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0;
        color: $grey;
      }
    }
    .excerpt {
      font-size: 18px;
      letter-spacing: normal; // height: 90px;
      border-top: 1px solid $grayicon;
      padding-top: 10px;
      padding-bottom: 15px;
    }
  }
}

.card-wrapper {
  margin-left: -15px;
  margin-right: -15px;
}

.card {
  @include card;
}

.card--headline {
  &:hover {
    .wrapper {
      animation: none;
    }
  }
  .date {
    float: right;
    font-weight: 700;
    text-transform: uppercase;
  }
  .responsive {
    a {
      display: initial;
      img {
        position: relative;
      }
    }
  }
}

.card--home {
  margin-bottom: 25px;
  &:hover .wrapper {
    background: $mildblue;
    transition: 0.3s ease-in; // @include shade;
    @include pulse( $duration: 0.8s);
  }
  img {
    width: 100%;
    height: auto !important;
  }
  .tag {
    position: absolute;
    background: $yellowmild;
    padding: 5px 10px;
    /* color: white; */
    text-transform: uppercase;
    z-index: 20;
    left: 25px;
    top: 15px;
    border-radius: 5px;
    a {
      color: $white;
    }
  }
  .wrapper {
    background: $blue;
  }
  .responsive {
    height: 200px;
  }
  .card-header {
    font-size: 11px;
    margin-bottom: 18px;
  }
  .content {
    color: $white;
    padding: 15px;
    .excerpt {
      font-size: 18px;
      letter-spacing: normal;
      height: 90px;
    }
    button {
      font-size: 11px;
      border: 0;
      background: transparent;
      a {
        color: $yellowmild;
        text-transform: uppercase;
      }
    }
  }
}

.card--video {}

.card--media {
  .excerpt {
    a {
      color: $blue;
    }
  }
}

.card--detail {
  .excerpt {
    // height: auto;
    border-top: 1px solid $grayicon;
    border-bottom: 1px solid $grayicon;
    padding: 30px 0;
    min-height: 187px;
    .excerpt__title {
      text-transform: uppercase;
      color: $blue;
      font-weight: 700; // margin: 10px 0;
    }
  }
  .excerpt__description {
    margin-top: 15px;
    font-size: 14px;
    letter-spacing: 0; // margin-bottom: 10px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px;
    max-height: 60px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .card__info {
    padding: 10px 0;
    color: $black;
    font-size: 10px;
  }
  img {
    width: 100%;
    height: 100% !important;
  }
}

.card--noline {
  .excerpt {
    border-bottom: 0;
  }
}

// image group
.image {
  padding: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  &:hover {
    // @include njeblug();
  }
  .wrapper {
    padding: 0 15px;
  }
  .responsive {
    a, span {
      height: auto;
      padding-bottom: 0;
      img {
        width: auto;
        position: relative;
      }
    }
  }
  .image__description {
    padding: 15px;
    background: #fff;
    color: #08349b;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0;
  }
  .image__description--aca {
    background: #08349b;
    color: #fff;
  }
  .image__description--team {
    position: relative;
    background: transparent;
    // &:before {
    //   content: "1";
    //   font-size: 72px;
    //   float: left;
    //   margin-right: 15px;
    // }
    .number {
      font-size: 72px;
      float: left;
      margin-right: 15px;
    }
    .name {
      font-size: 24px;
      border-bottom: 1px solid $grayicon;
      margin-bottom: 10px;
      overflow: hidden;
      .first {
        font-weight: 700;
        margin-right: 5px;
      }
    }
  }
}

.image--text {
  .image__description {}
}

.image--profiled {
  .image__description {
    border-bottom: 2px solid $blue;
    text-align: center;
  }
  .image__description--org {
    font-weight: bold;
    padding: 30px 15px;
  }
}

.image--inparagraph {
  margin-bottom: 15px;
  .wrapper {
    padding: 0;
  }
}

.image--trofi {
  .image__description {
    text-align: center;
    min-height: 80px;
    font-weight: 700;
  }
}

.image--sponsor {
  .wrapper {
    &:hover {
      @include njeblug();
    }
  }
  .responsive {
    background: $basewhite;
  }
}

// highlight board
.highlight {
  .match-header {
    text-transform: uppercase;
    font-size: 18px;
    background: $blue;
    padding: 20px 30px;
    p {
      text-align: left;
    }
    span {
      // float: right;
      display: inline-block;
      color: $white;
      a {
        color: $yellowmild;
        text-transform: capitalize;
      }
    }
  }
  .details {
    padding: 20px;
    background: $white;
    span {
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 0;
    }
    .time {
      line-height: 40px;
      color: $grayicon;
    }
    .date {
      width: 100%;
      display: block;
      text-align: center;
      color: $grayicon;
      font-size: 13px;
      margin-bottom: 20px;
    }
    img {
      width: auto;
      height: 50px;
      margin: 0 20px;
    }
    .home {
      text-align: right;
    }
    .club {
      text-align: center;
      color: $grey;
      span {
        width: 100%;
        display: block;
        font-size: 16px;
      }
      .score {
        thead {
          background: transparent;
        }
        tbody {
          td {
            font-size: 18px;
          }
        }
        td {
          text-transform: uppercase;
          font-size: 16px;
          padding: 5px;
          color: $grey;
          width: 10%;
          &:first-child {
            text-align: right;
          }
          &:last-child {
            text-align: left;
          }
        }
      }
    }
    .away {
      text-align: left;
    }
  }
  button {
    padding: 5px 15px;
    background: $blue;
    border-radius: 0;
    border: none;
    color: $white;
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 14px;
  }
  .match-footer {
    background: $gray;
    color: $grayicon;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 35px;
    span {
      text-transform: capitalize;
      font-size: 16px;
      letter-spacing: 0;
      &:after {
        content: "|";
        margin-left: 5px;
      }
      &:last-child {
        &:after {
          content: "";
        }
      }
    }
  }
}

// table
.table.table--statistic {
  tr {
    background: $basewhite; // border-bottom: 0;
  }
  th {
    padding: 25px;
    text-align: left;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
    border-top: 0;
    letter-spacing: 0;
  }
  td {
    &:first-of-type {
      text-align: left;
      text-transform: uppercase;
    }
    &:last-of-type {
      text-transform: capitalize;
    }
    padding: 25px;
    border-top: 0;
    letter-spacing: 0;
    text-align: right;
  }
}

.table.table--rating {
  thead {
    // margin-bottom: 15px;
    border-bottom: 15px solid $mildwhite;
  }
  td {
    text-align: left;
    text-transform: uppercase;
    font-size: 13px;
  }
}

// classment table
.classment-board {
  padding: 0;
  overflow-x: auto;
  overflow-y: hidden;
  .table--classment {
    background: $white;
    .club {
      text-align: left;
    }
    thead {
      th {
        letter-spacing: 0;
        text-transform: uppercase; // font-weight: 300;
        padding: 25px;
      }
    }
    tbody {
      tr {
        &:nth-child(-n + 3),
        &:nth-last-of-type(-n + 3) {
          background: $gray;
        }
      }
      td {
        text-transform: uppercase;
        letter-spacing: 0;
        padding: 20px 0; // font-size: 14px;
        // font-weight: 700;
      }
    }
  }
}

.classment-board--rev {
  .table--classment__rev {
    border: 1px solid $gray;
    thead {
      background: $gray;
      .title {
        text-align: left;
      }
      th {
        text-transform: capitalize;
        border-bottom: 0;
      }
    }
    tbody {
      tr {
        &:nth-child(-n + 3),
        &:nth-last-of-type(-n + 3) {
          background: transparent;
        }
        &:nth-child(even) {
          background: $gray;
        }
        th {
          border-top: 0;
        }
        td {
          padding: 5px 0;
          border-top: 0;
          p {
            text-align: left;
            margin: 5px 0;
            text-transform: capitalize;
          }
        }
      }
    }
    span {
      img {
        width: 46px;
        height: 46px;
        margin-right: 10px;
        object-fit: contain;
        border: 1px solid $gray;
      }
    }
  }
}

.classment-moment--rev {
  .table--moment__rev {
    tbody {
      tr {
        td {
          padding: 20px 0;
        }
      }
    }
    .minute {
      text-align: center;
    }
    .minute,
    .player {
      padding-left: 20px;
    }
    .action {
      text-align: right;
      padding-right: 20px;
      &:first-child {
        i {
          color: red;
          margin-bottom: 0;
        }
      }
      &:last-child {
        i {
          color: green;
          margin-top: 0;
        }
      }
    }
  }
}

.match-header {
  p {
    text-align: left;
    text-transform: capitalize;
  }
}

.match-header__rev {
  p {
    text-align: center;
    text-transform: uppercase;
  }
}

// article
.article {
  background: $white;
  padding: 35px 15px;
  .article__header {
    padding-bottom: 30px;
    .left-side {
      float: left;
    }
    .right-side {
      float: right;
    }
    span {
      color: $black;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      margin-right: 5px;
    }
    .detail {}
    .detail--rev {
      letter-spacing: 1px;
    }
  }
  .article__title {
    h3 {
      text-align: left;
      color: $blue;
      padding: 35px 0;
      border-top: 1px solid $grayicon;
    }
  }
  .article__content {
    p {
      letter-spacing: 0;
      color: $darkgray;
    }
  }
  .article__content--static {
    padding-top: 60px;
  }
  .article__penulis {
    border-top: 1px solid $gray;
    padding-top: 20px;
    margin-top: 20px;
  }
  .article__share {
    .share-box {
      padding-bottom: 30px;
      border-bottom: 1px solid $basewhite;
      .share-border {
        display: inline-block;
        border: 1px solid $blue;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        i {
          line-height: 14px;
          color: $blue;
          margin: auto;
          padding: 12px;
        }
      }
    }
  }
  .article__comment {
    h4 {
      text-align: left;
      letter-spacing: 0;
    }
    textarea {
      width: 100%;
      border-color: $basewhite;
      font-size: 14px;
      border-radius: 5px;
      padding: 15px;
      margin-bottom: 0;
      resize: none; // height: 100px;
      border-color: red;
    }
    .comment {
      .photo {
        .comment__image {
          background: $basewhite;
          width: 100px;
          height: 100px;
          border-radius: 100%;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
      .comment__input {
        textarea {
          width: 100%;
          border-color: $basewhite;
          font-size: 14px;
          border-radius: 5px;
          padding: 15px;
          margin-bottom: 0;
          resize: none; // height: 100px;
        }
        .comment__post {
          background: $basewhite;
          padding: 20px 15px;
          margin-top: -5px;
          display: flex;
          justify-content: space-between;
          input {}
          span {
            text-transform: capitalize;
            font-size: 14px;
            margin-left: 15px;
          }
          button {
            background: $blue;
            color: $white;
            border-radius: 0;
            padding: 10px 20px;
            text-transform: uppercase; // right: 15px;
            // position: absolute;
            font-size: 14px;
          }
        }
      }
    }
  }
}

.article--extended {
  margin-top: 210px;
  overflow: hidden;
  padding: 0 15px 35px 15px;
  .article__headline {
    @include full-width;
  }
}

.article--compact {
  overflow: hidden; // padding: 0 90px 15px;
  .article__headline {
    @include full-width;
    border-bottom: 40px solid $mildwhite;
  }
  .article__title {
    h3 {
      border-top: 0;
    }
  }
  .thumbnail {
    margin-bottom: 0;
  }
}

.article--sidebar {
  background: transparent; // margin-left: -15px;
  // margin-right: -15px;
  padding: 0;
  overflow: hidden;
  .inset {
    margin-top: 10px;
    .inset__content {
      background: $white;
      padding: 35px;
      margin-right: -15px;
      min-height: 900px;
    }
  }
  .article__headline {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

// sidebar
.sidebar {
  margin-top: 10px;
  .sidebar__content {
    background: $blue;
    margin-left: -15px;
    padding: 35px;
    min-height: 900px;
  }
  .sidebar__list {
    // padding: 35px;
    .sub-title {
      width: 100%;
      color: $yellowmild;
      display: block;
      margin-bottom: 15px;
      margin-top: 0;
    }
    .sub-description {
      color: $white;
      font-size: 18px;
      padding-bottom: 15px;
      margin-bottom: 15px;
      display: block;
      width: 100%;
      border-bottom: 1px solid $white;
      letter-spacing: 0;
    }
    &:last-child {
      .sub-description {
        border-bottom: 0;
      }
    }
  }
}

// hybrid-box
.hybrid-box {
  clear: both;
  background: $basewhite; // padding: 25px 25px 0 25px;
  padding: 33px 25px 10px;
}

.hybrid-box--statistica {
  position: relative;
}

.highlight-box {
  .highlight-box__content {
    span {
      font-size: 16px;
      text-transform: uppercase;
      padding-right: 10px;
      width: auto;
    }
    .goal {
      margin-top: 115px;
      font-size: 24px;
      width: 100%;
      display: block;
    }
  }
}

// form
//colors
.form-wrapper {
  background: $white;
  padding: 35px;
  display: flex;
  flex-direction: column;
  h3 {
    text-transform: uppercase;
    letter-spacing: 0;
    padding-bottom: 25px;
    border-bottom: 1px solid $mildwhite;
  }
  .form__widget {
    text-align: center;
    span {
      font-size: 16px;
      font-weight: 700;
      margin: 25px 0;
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 0;
    }
  }
}

.form-wrapper--user {
  padding: 0 35px;
  overflow: hidden;
}

//contact form
.contact-form {
  margin-top: 30px;
  .input-block {
    background-color: rgba(white, 0.8);
    border: solid 1px $mildwhite;
    width: 100%;
    height: 60px;
    padding: 25px;
    position: relative;
    margin-bottom: 20px;
    @include transition(all 0.3s ease-out);
    &.focus {
      background-color: $white;
      border: solid 1px darken($blue, 10%);
    }
    &.textarea {
      height: auto;
      .form-control {
        height: auto;
        resize: none;
      }
    }
    label {
      position: absolute;
      left: 25px;
      top: 25px;
      display: block;
      margin: 0;
      font-weight: 300;
      z-index: 1;
      color: $grayicon;
      font-size: 18px;
      line-height: 10px;
      letter-spacing: 0;
      text-transform: capitalize;
    }
    .form-control {
      background-color: transparent;
      padding: 0 !important;
      border: none; // @include border-radius(0);
      // @include box-shadow(none);
      box-shadow: none;
      height: auto;
      position: relative;
      z-index: 2;
      font-size: 18px;
      color: $grayicon;
    }
    .form-control:focus {
      label {
        top: 0;
      }
    }
  }
  .input-block--radio {
    height: 120px;
  }
  .square-button {
    background-color: $blue;
    color: $white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    border-radius: 0; // @include border-radius(2px);
    @include transition(all 0.3s ease);
    padding: 0 60px;
    height: 60px; // border: none;
    width: 100%;
    border: 0;
    &:hover,
    &:focus {
      background-color: $yellow;
      color: $blue;
    }
  }
  .square-button--red {
    background: #E22529;
  }
  .g-recaptcha {
    margin-bottom: 20px;
  }
}

// user
.user {
  // overflow: hidden;
  // @include full-width;
  letter-spacing: 0;
  .user__wrapper {
    max-width: 650px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 40px 0;
  }
  .user__header {
    background: $mildwhite;
    @include full-width; // max-width: 500px;
    // padding: 20px;
    text-align: center;
    .user__photogrid {
      overflow: hidden;
      border-radius: 100%;
      width: 100px;
      height: 100px;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    .user__information {
      .user__badge {
        display: inline-block;
        float: left;
        overflow: hidden;
        width: 40px;
        margin: 20px 20px 0 0;
      }
      .user__badgedetail {
        display: inline-block;
        float: left;
        margin: 25px 20px 0 0;
        font-size: 16px;
        text-transform: capitalize;
      }
      .user__name {
        display: block;
        width: 100%;
        text-align: left;
        font-size: 20px;
        text-transform: capitalize;
      }
    }
  }
  .user__detail {
    position: relative;
    .radio {
      display: inline-block;
      width: 20%;
      margin: 20px 0;
      span {
        float: left;
        font-size: 16px;
        margin: 10px 0;
        text-transform: capitalize;
      }
    }
    .user__detail__title {
      position: absolute;
      top: -20px;
    }
    .user__info {
      span {
        width: 100%;
        display: block;
      }
      .sub-description {
        font-size: 16px;
        text-transform: capitalize;
      }
    }
  }
  .user__footer {
    border-top: 2px solid $gray;
    @include full-width;
  }
}

// widget box
.widget-box {
  .highlight-box {
    img {
      height: auto;
    }
  }
}

// preview
.preview .player-info.show {
  display: none !important;
}

.preview .club.show {
  opacity: 0;
}
