.nav {
  background: transparent;
  .active {
    background: transparent;
  }
  ul {
    list-style: none;
    li {
      a {
        font-family: "futura_md_btmedium";
      }
    }
  }
}

.navbar-nav {
  li {
    position: static;
    a {
      color: $white;
      font-size: 20px;
      font-family: "futura_md_btmedium";
    }
  }
}

.navbar-default {
  @include mega-menu;
  background: transparent;
  border-color: transparent;
  .active {
    a {
    }
  }
  .nav {
    .active {
      a {
        color: $white;
      }
    }

    li {
      a {
        color: $white;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
  }
}
