.statistic {
  background: $darkgray;
  padding: 50px 0;

  .pattern-line {
    margin-bottom: 30px;
  }

  h2 {
    color: $white;
    margin-bottom: 50px;
  }
  .has-highlight {
    &:hover {
      animation: none;
    }
  }

  table {
    .highlight {
      background: $blue;
      tr {
        &:hover {
          animation: none;
        }
      }

      & + td {
        background: $blue;
        border-left: 0;
      }
    }
    tr {
      border: 2px solid $grayborder;
      border-bottom: 0;
      text-transform: uppercase;
      font-size: 22px;
      &:nth-child(even) {
        background: $lightgray;
      }
      &:hover {
        @include pulse(
          $function: ease-out,
          $duration: 0.3s
        );
      }
      th {
        border-top: none;
        width: 70%;
        color: $white;
        text-align: left;
        padding: 20px;
      }
      td {
        padding: 20px;
        border-top: none;
        width: 30%;
        color: $yellowmild;
        text-align: left;
        border-left: 2px solid $grayborder;
        font-size: 40px;
      }
      &:last-child {
        border-bottom: 2px solid $grayborder;
      }
    }
  }
}

.statistic--home {
  table {
    .clickable-row {
      cursor: pointer;
    }
  }
}

.table--statistic {
  position: relative;
}

.table--statistica {
  position: relative;

  th {
    width: 65%;
  }

  td {
    line-height: 33px!important;
  }
}

.statidown {
  display: inline-block;
  padding-left: 20px;
  float: right;

  button {
    background-color: transparent;
    color: #286090;
    padding: 2px 8px;
  }

  &.open {
    button {
      &.dropdown-toggle {
        color: rgb(255, 255, 255);
        background-color: rgb(40, 96, 144);
        border-color: rgb(32, 77, 116);
      }
    }
  }

  ul {
    li {
      padding: 10px 0;
      border-bottom: 1px solid #dcd7d7;
    }
  }

  &.open {
    position: static;

    .dropdown-menu {
      width: 100%;
      text-align: center;
      left: 0;
      right: 0;
      top: auto;
      padding: 20px;
      z-index: 2;

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        left: auto;
        bottom: 100%;
        border: 6px solid transparent;
        border-bottom-color: #d7d7d7;
        right: 30px;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 30px;
        left: auto;
        bottom: 100%;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-bottom-color: #fff;
      }
    }
  }
}

.statidown--dn {
  position: absolute;
  right: 25px;
  z-index: 1;
}

.dr-team {
  img {
    width: auto;
    height: 50px!important;
    margin: 0 20px;
  }
}

.dr-score {
  line-height: 50px;
  margin-bottom: 0;
}
