.video-group {
  padding: 100px 0;
  background-image: url("../img/bg-persib.png");
  h2 {
    color: $yellowmild;
    margin-bottom: 90px;
  }
  .video-grid {}
  .video {
    margin-bottom: 18px;
    .ytp-button {
      &:after {
        position: absolute !important;
        content: "\f01d" !important;
        font-family: fontawesome !important;
        font-size: 60px !important;
        top: 0 !important;
      }
      svg {
        display: none !important;
      }
    }
  }





}

.video-grid,
.card--video {
  .embed-responsive-16by9 {
    .popup-youtube {
      &:after {
        content: "";
        display: block;
        position: absolute;
        background-image: url("../img/play-button.png");
        width: 64px;
        height: 64px;
        background-size: contain;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }


  .headline,
  &.card--headline {
    .embed-responsive-16by9 {
      .popup-youtube {
        &:after {
          content: "";
          display: block;
          position: absolute;
          background-image: url("../img/play-button.png");
          width: 128px;
          height: 128px;
          background-size: contain;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

// video
// .video-js {
//   .vjs-poster {
//     .rem-play-mini {
//       background: transparent !important;
//     }
//     .test {
//       display: none;
//     }
//   }
// }
