{% include "partials/header.html" %}

<body>
  {% include "partials/header-menu.html" %}
  <div id="wrapper" class="page">

    <div class="section content-rooms">
      <h2 class="headingtitle headingtitle--page text-uppercase text-center">Our Rooms</h2>

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="boxset">
              <div class="boxset__image boxset__image--large">
                <a href="page-rooms-details.html">
                  <img src="asset/img/medium/neonbrand-381374.jpg" alt="" class="img-responsive">
                </a>
              </div><!-- end .box-image -->
              <div class="boxset__info text-left">
                <h4 class="headingtitle headingtitle--noline text-uppercase"><a href="#">Deluxe Twin Room</a></h4>
                <p>We work with some of the world's leading creative agencies to develop e-commerce, portfolio and commercial websites that win awards, drive customer sales and generate a solid return on your investment.</p>
                <a href="page-room-listingdetail.html" class="button button--green button--fullwidth">Room Detail</a>
              </div><!-- end .box-info -->
            </div><!-- end .box-content -->
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="boxset">
              <div class="boxset__image boxset__image--large">
                <a href="page-rooms-details.html">
                  <img src="asset/img/medium/neonbrand-381374.jpg" alt="" class="img-responsive">
                </a>
              </div><!-- end .box-image -->
              <div class="boxset__info text-left">
                <h4 class="headingtitle headingtitle--noline text-uppercase"><a href="#">Deluxe Twin Room</a></h4>
                <p>We work with some of the world's leading creative agencies to develop e-commerce, portfolio and commercial websites that win awards, drive customer sales and generate a solid return on your investment.</p>
                <a href="page-room-listingdetail.html" class="button button--green button--fullwidth">Room Detail</a>
              </div><!-- end .box-info -->
            </div><!-- end .box-content -->
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="boxset">
              <div class="boxset__image boxset__image--large">
                <a href="page-rooms-details.html">
                  <img src="asset/img/medium/neonbrand-381374.jpg" alt="" class="img-responsive">
                </a>
              </div><!-- end .box-image -->
              <div class="boxset__info text-left">
                <h4 class="headingtitle headingtitle--noline text-uppercase"><a href="#">Deluxe Twin Room</a></h4>
                <p>We work with some of the world's leading creative agencies to develop e-commerce, portfolio and commercial websites that win awards, drive customer sales and generate a solid return on your investment.</p>
                <a href="page-room-listingdetail.html" class="button button--green button--fullwidth">Room Detail</a>
              </div><!-- end .box-info -->
            </div><!-- end .box-content -->
          </div>
        </div><!-- end .row -->
      </div><!-- end .container-fluid -->



    </div><!-- end .content-offers -->

  </div><!-- end #wrapper -->

  {% include "partials/footer.html" %}
  {% include "partials/footer-script.html" %}

</body>
</html>
