@media only screen and (min-width: 320px) {
}

@media only screen and (min-width: 480px) {
}

// tablet only
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    .upper-bar {
      .container {
        .logo {
          a {
            width: 100% !important;
          }
        }
        .search-bar {
          width: 80%;
          float: right;
        }
      }
    }
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }

  .slider {
    .slick-slide {
      height: 550px;
      background: $yellowmild;
      .profiler {
        padding: 50px;
      }
      .image {
        img {
          display: none;
        }
        &:after {
          width: 100px;
        }
      }
    }
  }
  .feeds-berita {
    .feeds-berita__column {
      .feeds-berita__header {
        h4 {
          font-size: 14px;
        }
      }
      .feeds-berita__body {
        .media {
          .media-left {
            width: 100%;
            display: block;
          }
        }
        .feeds-berita__button {
          a {
            span {
              &:after {
                right: 0;
                left: auto;
              }
            }
          }
        }
      }
    }
  }
  .footer {
    .sponsor {
      .sponsor-images {
        .row {
          .responsive {
            width: 80px;
          }
        }
      }
    }
    .icon {
      text-align: center;
    }
    ul {
      text-align: center;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .hero {
    height: 400px;
  }

  /* match preview */
  .inner-banner--match__rev {
    .dynamic-banner--rev {
      .jadwal-klub {
        span {
          font-size: 26px;
        }
      }
    }
  }

  /* team */
  .image {
    .image__description--team {
      .number {
        font-size: 40px;
      }
    }
  }

  .article--extended {
    margin-top: 80px;
  }
}

//tablet and above devices
@media (min-width: 768px) {
  .contact-wrap {
    width: 60%;
    margin: auto;
  }

  .cbig {
    display: block;
  }
  .csmall {
    display: none!important;
  }
}

// below desktop
@media only screen and (max-width: 1023px) {
  .header {
    height: 65px;
    .upper-bar {
      background: $blue;
      height: auto;
      .container {
        display: block;
        .icon {
          text-align: right;
          margin-top: 35px;
          margin-bottom: 35px;
          .fa {
            color: white;
            margin: 0;
            padding: 10px;
          }
        }
        ̧ .search-bar {
          margin-top: 50px;
          input {
          }
        }
        .internationale {
          margin-top: 20px;
        }
      }
      .logo {
        position: absolute; // top: calc(100% - 40px);
        top: 15px;
        left: 30px; // right: 0;
        margin: auto;
        a {
          width: 50% !important;
        }
      }
    }
    .navbar-nav > li {
      width: 100%;
    }
    .navbar-toggle {
      display: block;
    }
    .dropdown {
      button {
        background: transparent;
        color: $white;
        .fa {
          color: $white;
        }
        &:focus {
          background: transparent;
        }
      }
      li {
        a {
          color: $white;
        }
      }
    }
  }
  .navbar {
    z-index: 10;
    .navbar-header {
      position: absolute;
      right: 30px;
      top: 200px;
      z-index: 20;
      button {
        background: $yellow;
        border-color: $yellow;
        span {
          color: $blue;
        }
        &:hover {
          background: $yellow;
        }
        &:focus {
          background: $yellow;
        }
        &:after {
          content: "MENU";
          position: absolute;
          right: 38px;
          height: calc(100% + 2px);
          background: $yellow;
          color: $blue;
          top: -1px;
          padding: 10px;
          border-radius: 3px;
        }
      }
    }
    .nav {
      background: $blue;
      padding: 30px 15px;
      margin-top: 250px;
      .active {
        a {
          background: transparent;
          &:after {
            content: "";
            position: absolute;
            left: 15px;
            height: 2px;
            width: calc(100% - 30px);
            background: $yellow;
            bottom: 0;
          }
        }
      }
    }
  }
  .hero {
    height: 400px;
    .hero-content {
      // margin-top: 45px;
      h1, h2 {
        font-size: 20px;
      }
      button {
        font-size: 14px;
        padding: 15px 15px;
        @media(max-width: 1023px){
          padding: 11px 30px;
        }
      }
    }
  }
  .match {
    padding: 15px;
  }

  /* match */
  .highlight {
    .details {
      .jadwal-time {
        display: none;
      }
      .jadwal-buy {
        text-align: center;
      }
    }
  }
  .footer {
    .sponsor {
      height: auto;
      padding: 0;
      .sponsor-images {
        .row {
          flex-wrap: wrap;
          .responsive {
            width: auto;
            padding: 0;
            a {
              padding-bottom: 0;
              height: 70px;
            }
            img {
              width: auto;
              height: auto;
            }
          }
        }
      }
    }
    .footer-link {
      text-align: center;
    }
    .icon {
      text-align: center;
    }
  }

  /* statistic */
  .tab-content--stats {
    .widget-box {
      overflow-x: auto;
    }
  }
}

// desktop only
@media only screen and (min-width: 1024px) {
  .navbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom: 0;
  }
  .navbar-nav {
    padding-left: 105px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    li {
      height: 80px;
      a {
        height: inherit;
      }
    }
  }
  .navbar-default {
    background: transparent;
    border-color: transparent;
    margin-bottom: 0;
    .active {
      & > a {
        border-bottom: 6px solid $yellow;
        background: transparent !important;
      }
      a {
      }
    }
    .nav {
      li {
        a {
          &:hover {
            color: $white;
          }
          color: $white;
          font-size: 16px;
          text-transform: uppercase;
          &:hover {
            border-bottom: 6px solid $yellow;
          }
        }
      }
    }
  }
  .navbar-default .nav > li > a:hover {
    color: #fff !important;
  }

  .article {
    padding: 35px 90px;
  }
  .article--extended {
    padding: 0 90px 35px 90px;
  }
  .article--compact,
  .staticpage--compact {
    padding: 0 90px 35px;
  }
  .article--sidebar {
    // padding: 0 15px 35px 15px;
    padding: 0;
    overflow: hidden;
  }
  .tab-content {
    margin-left: -15px;
    margin-right: -15px;
  }
  .tab-content--table {
    margin-left: 0;
    margin-right: 0;
  }
  .tab-content--stats {
    margin-left: 0;
    margin-right: 0;
  }
  .tab-content--history,
  .tab-content--nomargin {
    margin-left: 0;
    margin-right: 0;
  }
  .form__widget {
    padding: 15px 75px;
  }

  /* match preview */
  .inner-banner--match__rev {
    .dynamic-banner--rev {
      .jadwal-klub {
        .home {
          img {
            float: right;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1140px) {
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1130px;
  }
}

// mobile only
@media only screen and (max-width: 767px) {
  .header {
    height: auto;
    .upper-bar {
      .container {
        .search-bar {
          width: 65%;
          height: 35px;
          margin-top: 10px;
          input {
            border-radius: 3px;
          }
          .fa-search {
            margin: 7px;
          }
        }
      }
    }
  }
  .navbar.navbar-default {
    .navbar-header {
      top: 110px;
    }
    .navbar-nav {
      margin-top: 200px;
    }
  }
  .board {
    .match {
      .highlight {
        .match-header {
          padding: 20px 15px;
          span {
            font-size: 14px;
            width: 100%;
            text-align: center;
            &:last-child {
              float: none;
            }
          }
        }
        .details {
          position: relative;
          padding: 15px;
          .home {
            position: absolute;
            width: 33%;
            left: 0;
          }
          .club {
            position: relative;
            width: 100%;
            margin-top: 50px;
            padding-left: 0;
            padding-right: 0;
            table {
              table-layout: fixed;
            }
            .score {
              td {
                font-size: 12px; // padding: 0;
                padding: 10px 0;
                &:nth-of-type(2){
                  width: 12%;
                  text-align: center;
                }
                &:first-child {
                  text-align: center;
                }
                &:last-child {
                  text-align: center;
                }
                .cbig {
                  display: none;
                }
                .csmall {
                  display: block;
                }
              }
              tbody {
                tr {
                  width: 33%;
                  position: absolute;
                  top: -45px;
                  left: 0;
                  right: 0;
                  margin-left: auto;
                  margin-right: auto;
                  padding: 0px;
                  td {
                    font-size: 16px;
                  }
                }
              }
            }
          }
          .away {
            position: absolute;
            width: 33%;
            right: 0;
          }
        }
      }
    }
  }
  .slider {
    .slick-slide {
      height: 800px;
      background: $yellowmild;
    }
    .image {
      img {
        display: none;
      }
      &:after {
        border-right: 100px solid transparent;
        border-top: 100px solid $blue;
        height: 0;
        width: 10px;
      }
    }
    .profiler {
      padding: 80px 40px;
      .photo {
        .responsive {
          img {
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
      .description {
        td,
        th {
          font-size: 14px;
        }
        .name {
          font-size: 24px;
          text-align: center;
          margin-top: 20px;
          .number {
            font-size: 45px;
            bottom: auto;
            right: auto;
            top: 0;
          }
        }
      }
    }
  }
  .feeds-berita {
    .feeds-berita__column {
      margin-bottom: 50px;
      .feeds-berita__header {
      }
      .feeds-berita__body {
        .media {
          .media-left {
          }
        }
      }
    }
  }
  .inner-banner,
  .inner-banner--match__rev  {
    margin-top: 65px;
  }

  .hero--home {
    height: auto;
  }

  /* match preview */
  .inner-banner--match__rev {
    .dynamic-banner--rev {
      margin: 40px 0;
      .jadwal-klub {
        span {
          font-size: 16px;
          line-height: 20px;
          margin-top: 10px;
        }
        .home,
        .away {
          text-align: center;
        }
      }
    }
  }
  .match-type {
    width: 100%;
    margin-bottom: 10px;
  }

  /* klub */
  .sidebar {
    .sidebar__content {
      margin-right: -15px;
    }
  }
  .article--sidebar .inset .inset__content {
    margin-left: -15px;
  }

  /* match */
  .highlight {
    .match-header {
      text-align: center;
    }
    .details {
      .jadwal-klub {
        span {
          display: block;
        }
        .home, .away {
          text-align: center;
        }
      }
    }
  }

  /* heading */
  .pattern-line {
    a {
      font-size: 18px;
    }
    .pattern {
      border-top: 30px solid $blue;
      border-left: 8px solid transparent;
      &:before,
      &:after {
        height: 30px;
      }
    }
  }
  .pattern-line--blue {
    .pattern {
      right: calc(100% - 0px);
    }
  }

  /* sponsor images */
  .footer {
    .sponsor {
      h2 {
        margin: 50px 0 20px;
      }
      .sponsor-images {
        .row {
          width: 100%;

          div[class*="col-xs-"] {
            width: 33.33%;
          }
        }
      }
    }
  }
}

@media print,
  (-o-min-device-pixel-ratio: 5/4),
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {
}


@media (max-width: 1199px) {

  /* media */
  .embed-responsive-16by9 {
    width: 100%;
  }

  /* change menu breakpoint */
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }


  .inner-banner--match {
    .dynamic-banner {
      display: none;
      &.dynamic-banner--rev {
        display: block;
      }
    }
  }
}
