button {
  transition: 0.3s ease-in;

  a {
    color: $black;
    span {
      // transform: skewX(-15deg);
      display: block;
    }
  }
}

.button--plain {
  background: $blue;
  padding: 5px 30px;
  font-size: 16px;
  color: $white;
  text-transform: capitalize;
  border-radius: 0;
  min-width: 125px;
}

.btn-basic {
  background: $blue;
  color: $white;
  text-transform: uppercase;
  padding: 10px;

  &.btn-full {
    width: 100%;
    font-size: 18px;
  }
}
