%clear {
  content: ' ';
  display: table;
}
.clear {
  *zoom: 1;
  &:before {
    @extend %clear;
  }
  &:after {
    @extend %clear;
    clear: both;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0){
  .row {
    &:after,
    &:before {
      content: '';
      display: block;
    }
  }
}
