* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 62.5%;
}
body {
  font: 400 13px/1.6 "allerregular";
  color: #444;
  transition: all 0.4s 0.3s ease-in;
  background: $gray;
}
body,
html {
  min-height: 100vh;
  overflow: auto;
}

body {
  /*font: 75%/1.5 Roboto, serif; */
  color: #444;
  /* adjustable */
  font-family: "allerregular" !important;
  letter-spacing: 0px;
}

@media screen and (min-width: 15.652em) {
  body {
    font-size: 87.5%;
  }
}

@media screen and (min-width: 19.9375em) {
  body {
    font-size: 100%/1.6;
    /* adjustable */
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  /* adjustable */
  font-weight: 700;
  /* adjustable */
  font-family: "futura_md_btmedium" !important;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 14px;
}

p {
  margin: 0 0 1em;
  /*
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; */
  font-size: 14px;
}

li {
  font-size: 14px;
}

li a {
  font-size: 12.5px;
}

a {
  /* adjustable */
  text-decoration: none;
}

a:hover,
a:focus,
a:visited {
  transition: 0.3s ease-in;
  text-decoration: none;
}

ul,
menu,
dir {
  display: block;
  list-style-type: disc;
  /*-webkit-margin-before: 1em;*/
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 15px;
}

table {
  clear: both;
  width: 100%;
  // margin-bottom: 4%;
}

table tbody,
table tr {
  padding: 5px;
}

table thead {
  padding: 10px;
}

td,
th {
  // padding: 10px;
  border: 1px solid;
  font-size: 16px;
  border: none;
  text-align: center;
  padding: 15px 10px;
  vertical-align: inherit !important;
}

input {
  color: #333;
  padding: 10px;
  // border-color: #00a950 !important;
  border: 2px solid;
  font-size: 14px;
}

textarea {
  color: black;
  // border-color: #00a950 !important;
  border: 2px solid;
}

.btn {
  // padding: 9px 12px 6px 12px !important;
  // background: #00e89e;
  // /* adjustable */
  // color: #fff;
  // border: none !important;
  // border-radius: 4px !important;
  // font-size: 14px !important;
  // line-height: 20px !important;
  // margin: 1em !important;
  // text-transform: capitalize !important;
}

.btn:hover,
.btn:focus,
.btn:visited {
  background-color: $yellowmild;
  /* adjustable */
  color: #fff;
}

img {
  max-width: 100%;
}

hr {
  clear: both;
  height: 0;
  padding: 0;
  width: 100%;
  margin: 5% 0 5% 0;
  border: 0;
  border-bottom: 1px dotted #ddd;
}

.breadcrumbs {
  font-size: 14px;
  color: #555555;
  margin-top: 40px;
  margin-left: -15px;
}

.breadcrumbs span {
  font-size: 12.8px;
  color: #00e89e;
  text-decoration: none;
  cursor: pointer;
}

.breadcrumbs span:hover {
  color: #008259;
}

.entry-title {
  margin-top: 40px;
  margin-bottom: 27px;
  font-weight: bold;
  padding-bottom: 29px;
  border-bottom: 1px solid #333;
  text-transform: capitalize;
}

.entry {
  margin-bottom: 40px;
}

.entry p {
  margin: 0 0 2.5% 0;
  padding: 0;
  line-height: 170%;
  /*float: left;*/
  width: 100%;
}

.post-content p {
  margin: 0 0 4% 0;
  padding: 0;
}

.post-content blockquote p {
  margin: 4% 0;
  padding: 0;
}

.post-content div {
  max-width: 100%;
}

.post-content ul,
.post-content ol {
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 4%;
}

.post-content ul ul,
.post-content ul ol,
.post-content ol ul,
.post-content ol ol {
  margin-bottom: 0;
}

.post-content address {
  margin-bottom: 3%;
}

.alignleft,
img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
.alignright,
img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
.aligncenter,
img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}
.alignnone,
img.alignnone {
  /* not sure about this one */
}
blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left;
}
blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right;
}

.section-title {
  margin: 30px 0;
  color: $blue;
}

.sub-title {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0;
  color: $black;
  font-size: 14px;
  margin: 30px 0;
}

.widget-box {
  // margin-top: -25px;
}
