::selection {
  background: #333;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none;
}

::-webkit-selection {
  background: #333;
  color: #fff;
  text-shadow: none;
}

.responsive {
  width: 100%;
  overflow: hidden;
  text-align: center;
  a, span {
    position: relative;
    height: 0;
    padding-bottom: 56%;
    display: block;
    img {
      position: absolute;
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
    }
  }
}

@-moz-document url-prefix() {
  .sponsor-images {
    .responsive {
      a, span {
        img {
          object-fit: fill;
          transform: translate(-50%, -50%);
          left: 50%;
          top: 50%;
        }
      }
    }
  }
}
