

// desktop only
@media only screen and (min-width: 1024px) {
  .store--header {
    .navbar {
      position: absolute;
      bottom: 0;
      width: 100%;
      border-bottom: 0;
    }

    .navbar-nav {
      padding-left: 95px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      li {
        height: 70px;
        a {
          height: inherit;
        }
      }
    }

    .navbar-default {
      background: transparent;
      border-color: transparent;
      margin-bottom: 0;
      .active {
        a {
          border-bottom: 6px solid $blue;
          background: transparent !important;
        }
      }
      .nav {
        li {
          a {
            letter-spacing: 1px;
            color: $darkgray;
            font-size: 16px;
            text-transform: uppercase;
            span {
              margin-top: 0;
            }
            &:hover {
              color: $blue!important;
              border-bottom: 6px solid $blue;
            }
          }
          &:last-child {
            a {
              padding: 0;
              span {
                margin-top: 5px;
                margin-bottom: 0;
                font-size: 30px;
                color: $blue;
              }
            }
          }
          &.active {
            a {
              color: $blue;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1024px){
  .store--header {
    .upper-bar {
      .container {
        .internationale {
          a.inter,
          .fa {
            color: $white;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 767px){
  .store--header {
    .upper-bar {
      .container {
        .internationale {
          a.inter {
            padding: 0 5px;
          }
        }
      }
    }
  }

  /* intro box */
  .st-intro-box {
    .container {
      flex-direction: column;

      .side {
        .box-image {
          float: none;
          margin: 0 auto;
        }
        .intro-note {
          line-height: normal;
          float: none;
          display: block;
          text-align: center;
          margin-top: 10px;
          font-size: 14px;
          letter-spacing: 0;
        }
      }
    }
  }
}
