$base: #f7f6f0;
$darken: darken(#f7f6f0, 30%);
$back: darken(#f7f6f0, 40%);
$yellowmild: #ffcc00;
$yellow: #fff500;
$blue: #08349b;
$mildblue: #527ad6;
$black: #000000;
$basewhite: #edeff4;
$whiter: lighten(#e7e7e7, 40%);
$mildwhite: #dcdfe7;
$gray: #f7f7f7;
$darkgray: #22263b;
$lightgray: #2a2e44;
$grayborder: #2c3047;
$grey: #666666;
$grayicon: #999999;
$white: #ffffff;
$cream: #ffeb9e;
$red: #E22529;
$stgrey: #d4d4d4;
$stlightgrey: #ebebeb;
$stmediumgrey: #f5f5f5;
$lightblue: #153EA0;
