// extended animation
@mixin shade {
  box-shadow: 0px 8px 20px $blue;
  transition: 0.4 linear;
}

@mixin njeblug {
  @include pulse( $duration: 0.3s, $fill: ease-out);
}

// end extended animation

@mixin header-padding {
  padding: 100px 0;
}

// full width
@mixin full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

@mixin custom-button {
  background: $cream;
  // height: 60px;
  font-size: 24px;
  text-transform: capitalize;
  padding: 11px 75px;
  border-style: none;
  transform: skewX(15deg);
  &:hover {
    background: $yellowmild;
    .before:after,
    .after:after {
      background: $yellowmild;
    }
  }
  .before,
  .after {
    position: absolute;
    top: 0;
  }
  .before {
    right: calc(100% + 10px);
    @media(max-width: 1024px){
      right: calc(100% + 0px);
    }
    &:after,
    &:before {
      content: "";
      background: $cream;
      width: 0px;
      padding: 30px 15px;
      position: absolute;
      top: 0;
      @media(max-width: 1024px){
        padding: 22px 10px;
      }
    }
    &:before {
      right: calc(100% + 50px);
      @media(max-width: 1024px){
        right: calc(100% + 30px);
      }
    }
    &:after {
      right: calc(100% + 5px);
    }
  }
  .after {
    left: calc(100% + 10px);
    @media(max-width: 1024px){
      left: calc(100% + 0px);
    }
    &:after,
    &:before {
      content: "";
      background: $cream;
      width: 0px;
      padding: 30px 15px;
      position: absolute;
      top: 0;
      @media(max-width: 1024px){
        padding: 22px 10px;
      }
    }
    &:before {
      left: calc(100% + 50px);
      @media(max-width: 1024px){
        left: calc(100% + 30px);
      }
    }
    &:after {
      left: calc(100% + 5px);
    }
  }
}

@mixin pattern-lining {
  background: $yellowmild;
  // height: 40px;
  width: calc(100% - 80px);
  float: right;
  position: relative;
  text-align: right;
  color: $white;
  padding: 0 20px;
  margin-bottom: 70px;
  margin-top: 15px;
  &:hover {
    // @include fadeIn();
    // @include shade;
  }
  a {
    font-size: 24px;
    text-transform: capitalize;
    color: $black;
  }
  .pattern {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 40px solid $yellowmild;
    border-left: 12px solid transparent;
    right: 100%;
    display: inline-block;
    top: 0;
    &:before,
    &:after {
      content: "";
      background: $yellowmild;
      height: 40px;
      width: 20px;
      position: absolute;
      bottom: 0;
      transform: skewX(15deg);
    }
    &:before {
      right: calc(100% + 20px);
    }
    &:after {
      background: $cream;
      right: calc(100% + 50px);
    }
  }
}

@mixin mega-menu {
  .mega-menu {
    &:hover {
      .mega-sub-menu {
        display: flex;
        @include fadeInDown();
      }
    }
    .mega-sub-menu {
      display: none;
      width: 100%;
      position: absolute;
      left: 0;
      background: $white;
      border-bottom: 5px solid $yellow;
      opacity: 0.8;
      padding: 20px;

      .mega-menu-item {
        display: inline-block;
        width: calc(100%/3);
        height: auto;
        border-right: 1px solid $grayicon;
        h4 {
          margin-top: 0;
          text-align: left;
          font-size: 24px;
          padding-left: 15px;
        }

        .media {
          padding: 15px;
          &:hover {
            // @include njeblug();
            // background: $grayicon;
          }

          .media-left {
            width: 45%;
          }
          .media-body {
            vertical-align: middle;
            p {
              text-transform: uppercase;
              letter-spacing: 0;
              color: $black;
            }
          }
        }
        &:last-child {
          border-right: 0;
        }
        .menu-item {
          height: auto;
          a {
            color: $darkgray;

            &:hover {
              border-bottom-color: $blue;
            }
          }
        }
      }
    }
  }
}
